@import url('./loader.css');

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: antiquewhite;
}

.cat-info {
    margin: 0px 200px;
    display: flex;
    flex-direction: row;
    background-color: coral;
    border-radius: 8px;
}

.image {
    display: flex;
    object-fit: cover;
    max-width: 40%;
    margin: 20px;
    border-radius: 8px;
}

.text-info-block {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.temperament {
    font-weight: 600;
}

.breed-select {
    color: tomato;
    margin-block-end: auto;
    display: flex;
    align-self: flex-end;
}